.title1{
    color: crimson;
}

.lol::before{
    content: '!!!_';
}

.lol::after{
    content: '_!!!';
}


button:active{
    color:purple;
}

button:hover{
    background-color:darkseagreen;
}

.upload:enabled{
    background-color: red;
    
}
.upload:active{
    background-color: darkblue;
}